.card {
  width: 100%;
  height: 250px;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
